# Distribuição de Frequências

In [1]:
import numpy as np
import pandas as pd
import collections as Counter

In [2]:
enem_sp = pd.read_csv('enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')

In [3]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [4]:
enem_sorocaba = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Sorocaba']

In [5]:
enem_sorocaba.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
42,"1,90E+11",Sorocaba,27,F,1,branca,1,1,não_respondeu,NaN,...,49.1,Espanhol,1.0,140.0,40.0,40.0,140.0,40.0,400.0,Sim
192,"1,90E+11",Sorocaba,34,M,1,branca,1,1,não_respondeu,NaN,...,751.3,Inglês,1.0,120.0,120.0,140.0,120.0,40.0,540.0,Sim
226,"1,90E+11",Sorocaba,24,F,1,branca,1,1,não_respondeu,NaN,...,609.8,Inglês,1.0,100.0,40.0,80.0,80.0,0.0,300.0,Sim
358,"1,90E+11",Sorocaba,22,F,1,branca,1,1,não_respondeu,NaN,...,587.8,Inglês,1.0,120.0,180.0,140.0,120.0,120.0,680.0,Sim
409,"1,90E+11",Sorocaba,34,F,2,branca,1,1,não_respondeu,NaN,...,566.2,Espanhol,1.0,120.0,120.0,100.0,100.0,60.0,500.0,Sim